// @import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";

$mainColor: #5dcc64;
$secondColor: #853077;

@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}

$mainFont: myFont;

input,
select,
textarea,
button {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

body {
  direction: rtl;
  font-family: $mainFont;
  // height: 4000px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.slider-item {
  &:focus {
    outline: 0;
  }
}

// start header
// start header
.header {
  // height: 600px;
  padding: 200px 0 200px 0;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    background-color: rgba(0, 0, 0, 20%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header-content {
    position: relative;
    z-index: 8;
    .header-par {
      margin-top: 30px;
      width: 50%;
    }
    color: #fff;
    h5 {
      font-size: 45px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      margin-top: 30px;
    }
    a {
      display: inline-block;
      color: #fff;
      background-color: $mainColor;
      padding: 15px;
      margin-top: 20px;
      border-radius: 30px;
      width: 150px;
      text-align: center;
      margin-left: 15px;
      text-decoration: none;
    }
  }
}

.pargraph-content {
  margin-top: 80px;
  .par-1 {
    font-size: 26px;
    word-spacing: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555555;
    span {
      background-color: $mainColor;
      color: #fff;
    }
  }
  .par-2 {
    font-size: 18px;
    color: #555555;
    line-height: 30px;
  }
  .par-igm {
    width: 100%;
    height: 452px;
  }
}

.description {
  margin-top: 50px;
  background-color: #fcfbff;
  padding: 60px 0px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  h5 {
    font-weight: bold;
    font-size: 30px;
  }
}

.par-section {
  margin-top: 120px;
  .section-img {
    img {
      max-height: 385px;
      border-radius: 6px;
    }
  }
  .section-content {
    margin-top: 50px;
    h5 {
      font-size: 28px;
      color: #e54b4d;
      margin-bottom: 18px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      color: #555555;
      line-height: 28px;
    }
    a {
      font-weight: bold;
    }
  }
}

.sec-1 {
  margin-top: 70px !important;
}

.pargraph-content-second {
  .par-1 {
    margin-top: 40px;
  }
  .par-igm {
    max-height: 350px;
  }
}

.our-works {
  margin-top: 81px;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #f8f9fa;
  .our-works-header {
    text-align: center;
    font-size: 18px;
  }
  .card {
    display: block;
    height: 226px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    transition: all 0.5s ease;
    &:hover {
      transform: translateY(-10px);
    }
  }
  .btn-more {
    text-align: center;
    .btn {
      background-color: #e54b4d;
      border-radius: 5px;
      color: #fff;
      width: 120px;
      padding: 10px;
      transition: all 0.5s ease;
      margin-top: 30px;
      &:hover {
        background-color: #fff;
        border: 1px solid #e54b4d;
        color: #e54b4d;
      }
    }
  }
}

@media (max-width: 800px) {
  .header .header-content .header-par {
    width: 100%;
  }
  .pargraph-content .par-igm {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 524px) {
  .header{
    text-align: center;
  }
  .contact .contact-form {
    padding: 15px;
  }
  .about-company .about-content {
    margin-top: 0;
  }
}
